.book-description-container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  .book-description-container h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; 
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  .book-description-container button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .book-description-container p {
    text-align: center;
    font-size: 17px;
    margin: 25px;
  }

  .book-description-container button:hover {
    background-color: #0056b3;
    font-weight: bold;
  }
  